.container-projects{
    display: grid;
    grid-template-columns: 50% 50%;
}
.width-iframe{
    width: 100%;
}
.width-vid1{
    margin: 12px;
    margin-left: 22px;
    width: 95%;
    height: 100vh;
}