.boton-click{
    background: linear-gradient(to bottom, rgb(33, 179, 94), rgb(6, 32, 17));
    width: 50px;
    font-size: 15px;
    font-family: roboto, sans-serif;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
}

.boton-click:hover{
    background: linear-gradient(to bottom, rgb(235, 82, 227), rgb(6, 32, 17));
}
