.caja{
  display: flex;
  width: 97%;
  height: 50px;
  margin: auto;
  border-radius: 15px;
  outline: solid rgb(6, 70, 247);
  justify-content: center;
  align-items: center;
}
.verMobile, .cajaM{
  display: none;
}
.content-navbar{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin: 0 23%;
}
.nav-link{
  text-decoration: none; 
}
.sep{
  padding: 22px;
}
.login-style{
  display: flex;
  
}


// .nav-link{
//   display: inline-block;
//   position: relative;
//   bottom: 5px;padding: 10px 30px;
//   margin: 1px;
//   text-decoration: none;
// }
// .login-style{
//   margin: 12% 23% 8% 15%;
  
// }
// .nav-link-print{
//   display: inline-block;
//   position: relative;
//   bottom: 5px;padding: 10px 30px;
//   margin: 1px;
//   text-decoration: none;
// }
.Main
.nav-link:hover{
  color: red;
  text-decoration: underline;
}
.join{
  color: white;
  background-color: red;
  border: 1px solid blue;
  width: 70px;
  padding: 12px;
  border-radius: 20px;
  position: absolute;
  right: 70px;
  top: 70px;
  text-decoration: none;
}
.title{
position: absolute;
left: 210px;
top: 200px;
font-size: 50px;
}
.mark{
  position: absolute;
  right: 110px;
  top: 200px;
  width: 35%;
  border-radius: 50%;
}
/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 640px){
  .nav-link{
    padding: 5px;
  }
  
  .caja{
    width: 93%;
    margin: 0px 20px 20px 5px
  }
  
  .left {
    float: none;
    width: 100%;
   } 
   .right {
    float: none;
    width: 100%;
   } 
  .left .content{
    border-right: none;
  }
  .nav-link{
    display: none;
  }
  .nav-link-print{
    margin-right: 133px;
  }
  .editImage{
  width: 35px;
  position: relative;
  bottom: 44px;
  right: 45%;
}
.verMobile, .cajaM{
  display: block;
}
.Print-button{
  position: relative;
  left: 175px;
  bottom: 2px;

}
  
}