.centerPost{
    text-align: center;
}
.centerTitle{
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: minmax(100px, auto);
}
.notas{
     margin-left: 12px;
}



